name: Publish

on:
  push:
    branches:
      - main

jobs:
  docker-publish:
    name: Publish to GHCR
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.4.0
      - name: Automated version bump
        uses: phips28/gh-action-bump-version@master
        id: bump
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract version
        run: |
          RE='[^0-9]*\([0-9]*\)[.]\([0-9]*\)[.]\([0-9]*\)\([0-9A-Za-z-]*\)'
          MAJOR=`echo $version | sed -e "s#$RE#\1#"`
          MINOR=`echo $version | sed -e "s#$RE#\2#"`
          PATCH=`echo $version | sed -e "s#$RE#\3#"`
          echo "::set-output name=version::$MAJOR.$MINOR.$PATCH"
          echo "::set-output name=major::$MAJOR"
          echo "::set-output name=minor::$MAJOR.$MINOR"
        id: version
        env:
          version: ${{ steps.bump.outputs.newTag }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1.2.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1.6.0
      - name: Login to DockerHub
        uses: docker/login-action@v1.12.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v2.7.0
        with:
          push: true
          platforms: linux/amd64,linux/arm/v6,linux/arm/v7,linux/arm64/v8,linux/ppc64le,linux/s390x
          tags: |
            ghcr.io/${{ env.GITHUB_REPOSITORY }}::latest
            ghcr.io/${{ env.GITHUB_REPOSITORY }}:${{ steps.version.outputs.version }}
          labels: "version=${{ steps.version.outputs.version }}"

